<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="entry-title"><span>Sign Up</span> </h1>
      <hr>
      <form class="form-horizontal" name="signup" id="signup" [formGroup]="vendorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="control-label col-sm-3">Email ID <span class="text-danger">*</span></label>
          <div class="col-md-8 col-sm-9">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="email" class="form-control" name="emailid" id="emailid" placeholder="Enter your Email ID"
                value="" formControlName="email" required [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Set Password <span class="text-danger">*</span></label>
          <div class="col-md-5 col-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="password" class="form-control" name="password" id="password"
                placeholder="Choose password (5-15 chars)" value="" formControlName="password" required
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Full Name <span class="text-danger">*</span></label>
          <div class="col-md-8 col-sm-9">
            <input type="text" class="form-control" name="mem_name" id="mem_name" placeholder="Enter your Name here"
              value="" formControlName="full_name" required [ngClass]="{ 'is-invalid': submitted && f.full_name.errors }">
              <div *ngIf="submitted && f.full_name.errors" class="invalid-feedback">
                <div *ngIf="f.full_name.errors.required">Name is required</div>
              </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Contact No. <span class="text-danger">*</span></label>
          <div class="col-md-5 col-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
              <input type="text" class="form-control" name="contactnum" id="contactnum"
                placeholder="Enter your Primary contact no." value="" formControlName="mobile_number" required [ngClass]="{ 'is-invalid': submitted && f.mobile_number.errors }">
                <div *ngIf="submitted && f.mobile_number.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile_number.errors.required">Mobile Number is required</div>
                </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">City <span class="text-danger">*</span></label>
          <div class="col-md-5 col-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
              <input type="text" class="form-control" name="city" id="city" placeholder="Enter your City"
                value="" formControlName="city" required [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                  <div *ngIf="f.city.errors.required">City is required</div>
                </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-3 col-md-8 col-sm-9"><span class="text-muted"><span
                class="label label-danger">Note:-</span> By clicking Sign Up, you agree to our <a href="#">Terms</a>
              and that you have read our <a href="#">Policy</a>, including our <a href="#">Cookie Use</a>.</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-10">
            <input name="Submit" type="submit" value="Sign Up" class="btn btn-primary">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>